/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 18px;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 36px;
  line-height: 42px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
}

h3 {
  font-size: 18px;
  line-height: 21px;
  color: #7d7d7d;
}

a {
  text-decoration: none;
}

main,
header,
footer {
  margin-left: 65px;
}

header {
  margin-top: 100px;
  width: 200px;
}

header h3,
header h2 {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

/* form styles */

input[type="radio"] {
  cursor: pointer;
}

/* page specific styles */

#home li,
#home a {
  font-size: 18px;
  color: #FF9415;
  margin-bottom: 40px;
}

.homepage {
  margin-bottom: 120px;
}

/* location selection */

/* rotate the list items and organize them on the left margin */
.tripType {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: top left;
  width: 420px;
  top: 600px;
  left: 20px;
  color: #7d7d7d;
}

.tripType li {
  float: left;
  width: 100px;
  margin-right: 40px;
}

.tripType label {
  cursor: pointer;
}

.tripType input[type=radio] {
  opacity: 0;
}

/* when checked, appear as a black dot above the text */

#multi-city,
#rount-trip,
#one-way {
  cursor: pointer;
}

#round-trip {
}
